@import "foundation";
@include foundation-everything();

$color-background: #fff;
$color-well: #fdfdfd;
$color-text: #212121;
$color-strong-text: #727272;
$color-emphazise-text: #9e9e9e;
$color-primary-dark: #455a64;
$color-primary: #607d8b;
$color-primary-light: #cfd8dc;
$color-divider: #b6b6b6;

@import "backend/layouts/auth";

@import "backend/components/login_form";
